*{
    font-family: 'Fraunces', serif;
}

body {
    background-image: url('Imagenes/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    flex: 1;
    display: grid;
    place-items: center;
    height: 90vh;
}

main{
    background-color: #E1C7A8;
    display: table-cell;
    vertical-align: center;
    text-align: center;
    height: 100vh;
    border-radius: 5px;
    width: 600px;
    height: 350px;
}

button{
    margin: 30px;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

